body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "微軟正黑體", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-weight: bold;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

h1,.h1 {
    font-size: 2rem;
}
h2,.h2 {
	font-size: 1.75rem;
	color: #607D8B;
}
h3,.h3 {
    font-size: 1.5rem;
}
h4,.h4 {
    font-size: 1.25rem;
}
h5,.h5 {
    font-size: 1rem;
}
h6,.h6 {
    font-size: 1rem;
}

.page-header{
	font-size: 2.5rem;
}

.bottom-space{
	height: 100px;
}

.blockquote{
	font-size: 1rem;
	background: rgb(243, 245, 247);
	color: #455A64;
	padding: 16px;
	text-align: justify;
	
	border-left: 4px solid #90A4AE;

}
